# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# Testes
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Frontend
node_modules/
.next/
out/